#lamp1 { position: absolute; left: 75px; top: 130px; z-index: 1 }
#lamp2 { position: absolute; left: 200px; top: 130px; z-index: 1 }
#lamp3 { position: absolute; left: 485px; top: 120px; z-index: 1 }
#lamp4 { position: absolute; left: 35px; top: 240px; z-index: 1 }
#lamp5 { position: absolute; left: 35px; top: 290px; z-index: 1 }
#lamp6 { position: absolute; left: 280px; top: 280px; z-index: 1 }
#lamp7 { position: absolute; left: 380px; top: 230px; z-index: 1 }
#lamp8 { position: absolute; left: 590px; top: 210px; z-index: 1 }
#lamp9 { position: absolute; left: 700px; top: 230px; z-index: 1 }
#lamp10 { position: absolute; left: 1px; top: 1px; z-index: 1 }
#lamp11 { position: absolute; left: 1px; top: 1px; z-index: 1 }
#lamp12 { position: absolute; left: 1px; top: 1px; z-index: 1 }
#lamp13 { position: absolute; left: 1px; top: 1px; z-index: 1 }
#lamp14 { position: absolute; left: 1px; top: 1px; z-index: 1 }
#lamp15 { position: absolute; left: 1px; top: 1px; z-index: 1 }
